.hero {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
	background-color: #495e57;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 1rem;
}

.hero-about {
	grid-column: 4 / 7;
	align-self: center;
	max-width: 100%;
}

.hero-button {
	background-color: #f4ce14;
	color: #333333;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 1rem;
	font-weight: 800;
	margin-bottom: 0.5rem;
}

.hero-button:hover {
	opacity: 0.8;
}

.chef {
	grid-column: 7 / 10;
	align-self: center;
	padding: 1rem 0;
	max-width: 100%;
}

#chef {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.hero h1 {
	color: #f4ce14;
	margin: 0;
	font-weight: 400;
	font-size: 2rem;
}

.hero h2 {
	font-family: 'Karla', sans-serif;
	font-weight: normal;
	color: #edefee;
	margin: 0;
	font-size: 1rem;
}

.hero p {
	font-family: 'Karla', sans-serif;
	color: #edefee;
	line-height: 1.5;
	font-size: 1rem;
}

@media (max-width: 1536px) {
	.hero {
		grid-row: 3 / 4;
	}
}

@media (max-width: 1024px) {
	.hero {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
		grid-template-columns: auto;
		gap: 0;
		padding: 1rem;
	}

	.hero-about {
		max-width: 75%;
	}
}

@media (max-width: 576px) {
	#chef {
		display: none;
	}

	.hero-about {
		max-width: 100%;
	}
}
