.line {
	grid-column: 1 / -1;
	grid-row: 6 / 7;
}

.line hr {
	height: 0.1rem;
	background-color: #495e57;
	border: none;
}

@media (max-width: 1536px) {
	.line {
		grid-row: 7 / 8;
	}
}

@media (max-width: 1024px) {
	.line {
		grid-row: 7 / 8;
		grid-column: 1 / 2;
	}
}
